* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

form {
  margin: 0;
  padding: 0;
}

.button {
  width: 100%;
  background-color: black;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 1rem 0.25rem;
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  transition: all 0.2s;
  width: 50%;
  border: 2px solid black;
}

.button:hover {
  background-color: white;
  color: black;
}

.button_wrapper {
  display: flex;
  gap: 0.5rem;
}

input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  padding: 0.5rem;
  transition: all 0.2s;
  border-bottom: 2px solid black;
}

input[type=text]:hover {
  border-color: green;
}

input[type=text]:focus {
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
}

input:focus-visible {
  outline: none;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  color: currentColor;
  border: 2px solid currentColor;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
}

input[type=radio]:focus {
  border-color: blueviolet;
}

input[type=radio]:hover {
  border-color: green;
}

input[type=radio]:checked {
  border: 5px solid blue;
}

.form {
  display: flex;
  flex-direction: column;
}

.slide {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.slide_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
}

.card_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 15rem;
  height: 10rem;
  transition: all 0.2s;
}

.card_container:hover {
  scale: 1.1;
}

.option_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#nav {
  display: none;
  position: fixed;
  left: 60px;
  width: 500px;
  height: 60px;
  z-index: 999;
  background-color: white;
  justify-content: space-between;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

.nav-link:hover {
  text-decoration: underline;
}

.line1,
.line2,
.line3 {
  stroke: black;
  transform-origin: 0% 0%;
}

.line1,
.line3 {
  transition: transform 250ms ease-in;
  transform: translate(0px, 0px) rotate(0deg);
}

.line2 {
  transition: opacity 200ms ease-out;
}

@-webkit-keyframes loading {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-296px);
  }
}

@keyframes loading {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-296px);
  }
}
.animacion_wrapper {
  width: 74px;
  height: 74px;
  overflow: hidden;
}

.animacion {
  height: 74px;
  width: 296px;
  background-image: url("./imgs/sprite.svg");
  -webkit-animation: 0.3s steps(4) infinite loading;
          animation: 0.3s steps(4) infinite loading;
}

#loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

[aria-expanded=true] .line2 {
  opacity: 0;
}
[aria-expanded=true] .line1 {
  transform: translate(5.25px, -0.5px) rotate(45deg);
}
[aria-expanded=true] .line3 {
  transform: translate(-6.25px, 5px) rotate(-45deg);
}

@media (max-width: 720px) {
  .card_container {
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */